@import bourbon

.input.dragonfly

  .fragments

    &> legend
      width: 11%
      text-align: right

      label
        float: none
        display: inline

    ol
      li
        margin-bottom: 10px
        +clearfix

        label
          width: 100px
          text-align: right
          margin-right: 10px

        &.component-remove
          label
            padding-left: 110px
            width: auto
            float: none
            text-align: left

        &.component-preview
          &> a
            float: left
            display: block
            padding: 5px
            background: white
            border: 1px solid #ccc
            +border-radius(2px)

  .field-preview
    float: left
    width: 72px
    margin-right: 10px

    .no-image
      text-align: center
      height: 72px
      display: table-cell
      vertical-align: middle
      color: #666
      text-shadow: rgba(white, 0.6) 0 1px 0
      font-size: 12px

  .field-upload, .field-remove, .field-url
    float: right
    width: 500px - 72px - 10px
