@import bourbon

.input.dragonfly
  padding: 0

  .fragments

    &> legend
      display: none

    ol

      li
        +clearfix

        label
          text-align: right

        &.component-remove
          label
            padding-left: 110px
            width: auto
            float: none
            text-align: left

        &.component-preview
          &> a
            float: left
            display: block
            padding: 5px
            background: white
            border: 1px solid #ccc
            +border-radius(2px)

        &.component-url
          &> input[type="text"]
            width: 50% !important

  .component-preview
    .no-image
      line-height: 32px
